# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# LaTeX aux
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz

# Ignore PDFs only inside book (رسمی‌ها در pdfs نگه داشته میشن)
book/*.pdf

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
.env/
